<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [ ]:
print ("Hello, my name is Joyceline")

nama = "Joyceline"
print (f"Hello, my name is {nama}")

nama = "Joyceline"
print("Hello, my name is " + nama)

nama = "Joyceline"
print("Hello, my name is {}".format(nama))

Hello, my name is Joyceline
Hello, my name is Joyceline
Hello, my name is Joyceline
Hello, my name is Joyceline

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Catharina memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [ ]:
# Soal a
kotak_kelereng = 4
kelereng_per_kotak = 15
jumlah_teman = 12

total_kelereng = kotak_kelereng * kelereng_per_kotak
kelereng_per_teman = total_kelereng / jumlah_teman

print(f"Setiap teman akan mendapat {kelereng_per_teman:.2f} kelereng.")

# Soal b
hasil_pangkat = 8 ** (1/3)
print(f"Hasil dari 8 pangkat 1/3 adalah {hasil_pangkat:.2f}.")

# Soal c
uang_catharina = 50000
harga_per_paket = 7500

jumlah_paket = uang_catharina // harga_per_paket
kembalian = uang_catharina % harga_per_paket

print(f"Catharina dapat membeli {jumlah_paket} paket kertas binder.")
print(f"Kembalian yang diterima adalah Rp {kembalian}.")

Setiap teman akan mendapat 5.00 kelereng.
Hasil dari 8 pangkat 1/3 adalah 2.00.
Catharina dapat membeli 6 paket kertas binder.
Kembalian yang diterima adalah Rp 5000.

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [ ]:
# Konversi

string_to_int = int("1000")
print(f"{string_to_int} <class '{type(string_to_int).__name__}'>")


float_to_int = int(5.25)
print(f"{float_to_int} <class '{type(float_to_int).__name__}'>")


int_to_float = float(5)
print(f"{int_to_float} <class '{type(int_to_float).__name__}'>")


int_to_string = str(1000)
print(f"{int_to_string} <class '{type(int_to_string).__name__}'>")

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [ ]:
text = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
# 1
substring = text[20:31]
print(f"Indeks 20 sampai 30: '{substring}'")

# 2
words_list = text.split(" ")
print(f"List kata: {words_list}")

# 3
reversed_text = text[::-1]
print(f"String dibalik: '{reversed_text}'")

Indeks 20 sampai 30: 'what a man''
List kata: ['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
String dibalik: '.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI'

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama fakultas di UC, simpan dalam variabel "fakultas".
2.   Cetaklah jumlah fakultas di UC dengan mencari panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index fakultas SIFT

In [ ]:
# Fakultas
fakultas = (
    "Fakultas Psikologi",
    "Fakultas Kedokteran Gigi",
    "Fakultas Parawisata",
    "Fakultas Ilmu Komunikasi ",
    "Fakultas Kedokteran",
    "Fakultas Management bisnis",
    "Fakultas Kreatif industri",
    "Fakultas SIFT"
)

jumlah_fakultas = len(fakultas)
print(f"Jumlah fakultas di UC: {jumlah_fakultas}")

index_sift = fakultas.index("Fakultas SIFT")
print(f"SIFT berada pada index: {index_sift}")

Jumlah fakultas di UC: 8
SIFT berada pada index: 7

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti salah satu makanan favoritmu yang kosong dengan nama makanan baru (makanan yang mana bebas). Cetak makanan favorit barumu dengan contoh: "Aku ingin mengganti pesananku jadi {nama makanan baru}"

In [ ]:
# 1
favorit = ["Nasi Goreng", "Sate Ayam", "Mie Ayam"]

# 2
print(favorit[0])  # Nasi Goreng
print(favorit[1])  # Sate Ayam
print(favorit[2])  # Mie Ayam

# 3
print(f"Aku ingin pesan {favorit[0]}")
print(f"Aku ingin pesan {favorit[1]}")
print(f"Aku ingin pesan {favorit[2]}")

# 4
favorit[1] = "Rendang"

print(f"Aku ingin mengganti pesananku jadi {favorit[1]}")

Nasi Goreng
Sate Ayam
Mie Ayam
Aku ingin pesan Nasi Goreng
Aku ingin pesan Sate Ayam
Aku ingin pesan Mie Ayam
Aku ingin mengganti pesananku jadi Rendang

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [77]:
# 1
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# 2
gabungan = set1.union(set2)
print(f"Gabungan set1 dan set2: {gabungan}")

# 3
no_intersection = set1.isdisjoint(set3)
print("Set1 dan Set3 tidak mempunyai intersection:", no_intersection)

# 4
is_subset = set4.issubset(set1)
print(f"Set4 adalah bagian dari set1: {is_subset}")

Gabungan set1 dan set2: {1, 2, 3, 4, 6, 8}
Set1 dan Set3 tidak mempunyai intersection: True
Set4 adalah bagian dari set1: True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik (munculkan error jika input selain angka) dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [ ]:
# Program Bayar Listrik
try:
    penggunaan = float(input("Masukkan jumlah penggunaan listrik (kWh): "))


    if penggunaan < 100:
        penggunaan = 100

    if penggunaan < 1000:
        tarif_per_kWh = 1000
    else:
        tarif_per_kWh = 2000

    total_bayar = penggunaan * tarif_per_kWh

    if penggunaan >= 1000:
        total_bayar *= 1.1

    print(f"Tarif listrik yang harus dibayar: Rp {total_bayar:.0f}")

except ValueError:
    print("Error: Harap masukkan angka yang valid untuk penggunaan listrik.")

Masukkan jumlah penggunaan listrik (kWh): 100
Tarif listrik yang harus dibayar: Rp 100000

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [ ]:
# Program Angkot Abdimas UC
kapasitas_angkot = 10

try:
    jumlah_peserta = int(input("Masukkan jumlah peserta: "))

    if jumlah_peserta < 0:
        print("Jumlah orang tidak bisa negatif!")
    else:
        jumlah_angkot = (jumlah_peserta // kapasitas_angkot)

        if jumlah_peserta % kapasitas_angkot > 0:
            jumlah_angkot += 1

        print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

except ValueError:
    print("Error: Harap masukkan angka yang valid untuk jumlah peserta.")

Masukkan jumlah peserta: 12
Jumlah angkot yang diperlukan: 2

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan random untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buat dan cetaklah matriks 3x4 menggunakan numpy array berisi angka random dari 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [ ]:
import numpy as np
import random

# 1
hari = np.array(['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu'])

In [ ]:
# 2
hari_sorted = np.sort(hari)

In [ ]:
# 3
hari_acak = random.choice(hari_sorted)
print(f"Selamat hari {hari_acak} adalah hari baikmu bulan ini!")

Selamat hari Rabu adalah hari baikmu bulan ini!

In [ ]:
# 4
matriks_random = np.random.randint(1, 7, size=(3, 4))
print("Matriks 3x4 dengan angka random:")
print(matriks_random)

print(f"Shape: {matriks_random.shape}")
print(f"Dimensi: {matriks_random.ndim}")

Matriks 3x4 dengan angka random:
[[3 6 5 3]
 [5 1 5 2]
 [2 1 2 6]]
Shape: (3, 4)
Dimensi: 2

In [ ]:
# 5
print("Elemen kolom ketiga dari matriks:")
kolom_ketiga = matriks_random[:, 2]
print(kolom_ketiga)

Elemen kolom ketiga dari matriks:
[5 5 2]

In [ ]:
# 6
matriks_klmtiga = np.array([[1, 2, 3, 4],
                          [5, 6, 7, 8],
                          [9, 10, 11, 12]])

matriks_reshaped = matriks_klmtiga.reshape(2, 6)
print("Matriks setelah reshape menjadi (2, 6):")
print(matriks_reshaped)

Matriks setelah reshape menjadi (2, 6):
[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [ ]:
import pandas as pd

# 1
list_kata= ["Information", "Systems", "for", "Business"]
series_kata = pd.Series(list_kata)
print("Pandas Series:")
print(series_kata)

#2
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe_mobil = pd.DataFrame([data_dict])
print("Pandas DataFrame:")
print(dataframe_mobil)

Pandas Series:
0    Information
1        Systems
2            for
3       Business
dtype: object
Pandas DataFrame:
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [ ]:
# 3
url = R"https://raw.githubusercontent.com/GTerrence/dataset/main/50_Startups.csv.xls"
dataframe = pd.read_csv(url)

In [ ]:
#4
kota = dataframe['State'].unique()
print("Kota yang ada dalam dataset:")
print(kota)

Kota yang ada dalam dataset:
['New York' 'California' 'Florida']

In [ ]:
#5
dataset_random = dataframe.sample(n=10, random_state=1)
print("\n5 baris pertama dari dataset random:")
print(dataset_random.head())

5 baris pertama dari dataset random:
    R&D Spend  Administration  Marketing Spend       State     Profit
27   72107.60       127864.55        353183.81    New York  105008.31
35   46014.02        85047.44        205517.64    New York   96479.51
40   28754.33       118546.05        172795.67  California   78239.91
38   20229.59        65947.93        185265.10    New York   81229.06
2   153441.51       101145.55        407934.54     Florida  191050.39

In [ ]:
# 6
print("\nInformasi DataFrame:")
print(dataframe.info())

Informasi DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB
None

In [ ]:
# 7
spend_california = dataframe[dataframe['State'] == 'California'][['R&D Spend', 'Marketing Spend']]
print("\nR&D Spend dan Marketing Spend dari kota California:")
print(spend_california)

R&D Spend dan Marketing Spend dari kota California:
    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [ ]:
# 8
missing_values = dataframe.isnull().sum()
print("\nMissing values di setiap kolom:")
print(missing_values)

Missing values di setiap kolom:
R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [ ]:
# 9
dataframe_filtered = dataframe[dataframe['Profit'] >= 50000]

In [ ]:
# 10
dataframe_sorted = dataframe_filtered.sort_values(by='Marketing Spend', ascending=False)
print("\nDataFrame setelah diurutkan berdasarkan Marketing Spend:")
print(dataframe_sorted.head())

DataFrame setelah diurutkan berdasarkan Marketing Spend:
   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station', 'number_of_convinience_stores', 'latitude', 'longitude', 'house_price_of_unit_area'
5. Cek apakah ada missing values dari masing-masing kolom

In [ ]:
# 1
import pandas as pd

url = "https://raw.githubusercontent.com/GTerrence/dataset/main/real_estate.csv"
dataframe = pd.read_csv(url)

In [ ]:
# 2
print("10 data random dari dataset:")
print(dataframe.sample(10))

10 data random dari dataset:
      No  X1 transaction date  X2 house age  \
80    81             2013.500          11.8
0      1             2012.917          32.0
123  124             2013.417           0.0
318  319             2013.333           7.1
33    34             2013.250          16.5
8      9             2013.500          31.7
67    68             2013.500           8.5
131  132             2013.500           4.0
116  117             2013.000          30.9
39    40             2013.167          16.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
80                                533.47620                                4
0                                  84.87882                               10
123                               185.42960                                0
318                               379.55750                               10
33                                323.65500                                6
8                                5512.03800                                1
67                                104.81010                                5
131                              2147.37600                                3
116                              6396.28300                                1
39                                289.32480                                5

     X5 latitude  X6 longitude  Y house price of unit area
80      24.97445     121.54765                        40.3
0       24.98298     121.54024                        37.9
123     24.97110     121.53170                        45.5
318     24.98343     121.53762                        49.8
33      24.97841     121.54281                        49.3
8       24.95095     121.48458                        18.8
67      24.96674     121.54067                        56.8
131     24.96299     121.51284                        30.7
116     24.94375     121.47883                        12.2
39      24.98203     121.54348                        46.2

In [ ]:
# 3
print("\nInformasi data:")
print(dataframe.describe())

Informasi data:
               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [ ]:
# 4
print("\nNama kolom sebelum diubah:")
print(dataframe.columns)

if 'No' in dataframe.columns:
    dataframe = dataframe.drop(columns=['No'])

dataframe.columns = [
    'transaction_date',
    'house_age',
    'distance_to_the_nearest_MRT_station',
    'number_of_convinience_stores',
    'latitude',
    'longitude',
    'house_price_of_unit_area'
]

print("\nDataFrame setelah menghapus kolom 'No' dan mengubah nama kolom:")
print(dataframe.head())

Nama kolom sebelum diubah:
Index(['transaction_date', 'house_age', 'distance_to_the_nearest_MRT_station',
       'number_of_convinience_stores', 'latitude', 'longitude',
       'house_price_of_unit_area'],
      dtype='object')

DataFrame setelah menghapus kolom 'No' dan mengubah nama kolom:
   transaction_date  house_age  distance_to_the_nearest_MRT_station  \
0          2012.917       32.0                             84.87882
1          2012.917       19.5                            306.59470
2          2013.583       13.3                            561.98450
3          2013.500       13.3                            561.98450
4          2012.833        5.0                            390.56840

   number_of_convinience_stores  latitude  longitude  house_price_of_unit_area
0                            10  24.98298  121.54024                      37.9
1                             9  24.98034  121.53951                      42.2
2                             5  24.98746  121.54391                      47.3
3                             5  24.98746  121.54391                      54.8
4                             5  24.97937  121.54245                      43.1

In [ ]:
# 5
missing_values = dataframe.isnull().sum()
print("\nMissing values di masing-masing kolom:")
print(missing_values)

Missing values di masing-masing kolom:
transaction_date                       0
house_age                              0
distance_to_the_nearest_MRT_station    0
number_of_convinience_stores           0
latitude                               0
longitude                              0
house_price_of_unit_area               0
dtype: int64